require 'spec_helper'
require_relative '../lib/<%= gem_name %>'

RSpec.describe <%= @class_name %>Module do
  extend described_class # Define class methods from <%= @class_name %>Module

  let(:logger) do
    PluginMetaLogger.instance.new_logger(self, PluginMetaLogger.instance.config)
  end

  let(:parse_context) { TestParseContext.new } # Mock, may not be desired

  it 'has a test' do
    expect(true).to be_true
  end
end
