/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/binstub/
/coverage/
/doc/
/exe/
/pkg/
/spec/reports/
/spec/status_persistence.txt
/test/coverage/
/tmp/
templates/jekyll/common_scaffold/%gem_name%.code-workspace.tt
