/.bundle/
/.yardoc
/binstub/
/Gemfile.lock
/_yardoc/
/coverage/
/test/coverage/
/test/reports/
/doc/
/pkg/
/tmp/
spec/status_persistence.txt
<%- if @jekyll -%>
.jekyll-cache/
.jekyll-metadata
_site/
demo/_site/
demo/.jekyll-cache/
demo/.jekyll-metadata
<%- end -%>
